/ app/views/operational_portal/parts/new.html.erb
.py-5
  %h1 New Part
  = form_with(model: @part, url: operational_portal_parts_path) do |form|
    - if @part.errors.any?
      = render ErrorCardComponent.new errors: @part.errors.full_messages, label: "Validations"
    .field
      = form.label :name
      = form.text_field :name, class: "input-primary"
    .field
      = form.label :description
      = form.text_area :description, class: "input-primary"
    .field
      = form.label :weight
      = form.number_field :weight, value: form.object.weight || 0.00, step: :any, class: "input-primary"
    .flex.gap-2.items-center
      = form.check_box :inventory, class: 'checkbox-primary'
      = form.label :inventory, "Inventory"
    .field
      = form.label :in_stock, "In Stock"
      = form.number_field :in_stock, class: "input-primary"
    .flex.gap-2.items-center
      = form.check_box :manual_price, class: 'checkbox-primary'
      = form.label :manual_price, "Override Price"
    .field
      = form.label :price, "Price $"
      = form.number_field :price, value: form.object.price || 0.00, step: :any, class: "input-primary"
    .field
      = form.label :files
      = form.file_field :files, multiple: true
    %div
      = form.submit "Save Part", class: "btn-md bg-[color:var(--primary)] text-[color:var(--primary-text)]"
  = link_to 'Back', operational_portal_catalog_path, class: "btn btn-secondary"
