%h1 Products
= form_with url: products_path, method: :get, local: true do
  = search_field_tag :query, params[:query], placeholder: 'Search Products'
  = submit_tag 'Search'
%ul
  - @products.each do |product|
    %li
      = link_to product.name, product_path(product)
      - if user_signed_in?
        %p
          Price: #{product.price}
        - if current_user.customer? && current_user.customer.discount.present?
          %p
            Discounted Price: #{product.price * (1 - current_user.customer.discount / 100.0)}
      - else
        %p Login to see prices
