= turbo_stream.replace "cart-badge" do
  = render "layouts/cart_badge"

- if error
  = turbo_stream.prepend "notification-container" do
    = render NotificationComponent.new notif_type: "error", message: "Something went wrong"
- else
  = turbo_stream.prepend "notification-container" do
    = render NotificationComponent.new notif_type: "success", message: "Successfully added to cart"
