.container.py-8
  %h1.text-xl.font-medium.mb-2
    Edit #{@setting.key}
  = form_with(model: @setting, url: operational_portal_setting_path, local: true) do |form|
    - if @setting.errors.any?
      #error_explanation
        %h2
          = pluralize(@setting.errors.count, "error")
          prohibited this setting from being saved:
        %ul
          - @setting.errors.full_messages.each do |message|
            %li= message
    .field
      = form.label :key, "Price Per lbs $"
      = form.text_field :value, value: format('%.2f', @setting.value.to_f), step: :any, class: "input-primary"
    .actions.mt-4
      = form.submit "Save Changes", class: 'btn-md bg-[color:var(--primary)] text-[color:var(--primary-text)]'
