.container
  %h1
    Welcome, #{@user.email}
  %div
    = link_to 'Profile', edit_user_registration_path
    = link_to 'Orders', customer_portal_orders_path
    = link_to 'Support Tickets', customer_portal_support_tickets_path
  %h2 Your Orders
  %ul
    - if @orders.present?
      - @orders.each do |order|
        %li
          = link_to "Order ##{order.id}", customer_portal_order_path(order)
          \- #{order.status}
    - else
      %li No orders found
  %h2 Your Support Tickets
  %ul
    - if @support_tickets.present?
      - @support_tickets.each do |ticket|
        %li
          = link_to ticket.title, customer_portal_support_ticket_path(ticket)
          \- #{ticket.status}
    - else
      %li No support tickets found
