<div class="container">
<h1>Welcome, <%= @user.email %></h1>
<div>
  <%= link_to 'Profile', edit_user_registration_path %>
  <%= link_to 'Orders', customer_portal_orders_path %>
  <%= link_to 'Support Tickets', customer_portal_support_tickets_path %>
</div>

<h2>Your Orders</h2>
<ul>
  <% if @orders.present? %>
    <% @orders.each do |order| %>
      <li>
        <%= link_to "Order ##{order.id}", customer_portal_order_path(order) %> - <%= order.status %>
      </li>
    <% end %>
  <% else %>
    <li>No orders found</li>
  <% end %>
</ul>

<h2>Your Support Tickets</h2>
<ul>
  <% if @support_tickets.present? %>
    <% @support_tickets.each do |ticket| %>
      <li>
        <%= link_to ticket.title, customer_portal_support_ticket_path(ticket) %> - <%= ticket.status %>
      </li>
    <% end %>
  <% else %>
    <li>No support tickets found</li>
  <% end %>
</ul>
</div>