= form_with(model: @order, url: path, html: {class: "grid gap-5", data: {controller: "orders--form unsaved-changes", action: ' beforeunload@window->unsaved-changes#leavingPage turbo:before-visit@document->unsaved-changes#leavingPage', changed: @order.errors.any? ? "true" : "false"}}) do |form|
  - if @order.errors.any?
    = render ErrorCardComponent.new errors: @order.errors.full_messages, label: "Validations"
  = render "form_head_inputs", form: form
  = render "form_shipping_address", form: form
  = render "search"
  .flex.w-full.gap-5.mt-2
    = render "form_order_items", form: form
    = render "form_order_summary", form: form
  - if @order.new_record? || can?(:update, @order)
    .block
      = form.submit @order.new_record? ? "Save Order" : "Update Order", class: "btn-md bg-[color:var(--primary)] text-[color:var(--primary-text)]", "data-action": "unsaved-changes#reset"
