= form_with(model: @order, url: path, html: {class: "grid gap-5", data: {controller: "orders--form unsaved-changes", action: ' beforeunload@window->unsaved-changes#leavingPage turbo:before-visit@document->unsaved-changes#leavingPage', changed: @order.errors.any? ? "1" : "0"}}) do |form|
  - if @order.errors.any?
    = render ErrorCardComponent.new errors: @order.errors.full_messages, label: "Validations"
  = render "form_head_inputs", form: form
  = render "form_shipping_address", form: form
  = render "search"
  .flex.w-full.gap-5.mt-2
    = render "form_order_items", form: form
    = render "form_order_summary", form: form
  .accordion-container
    .accordion.group{data: {controller: "accordion", open: "false"}}
      .accordion-btn{type: "button", data: {action: "click->accordion#toggle"}}
        Internal Note
        = icon("fa-solid", "chevron-down", data: {"accordion-target": "iconDown"})
      .accordion-content.hidden{data: {"accordion-target": "content"}}
        .flex.gap-5.w-full
          = form.text_area :internal_note, rows: 8, class: "input-primary"
  - if @order.new_record? || can?(:update, @order)
    .flex.gap-6.items-center
      = form.submit @order.new_record? ? "Save Order" : "Update Order", class: "btn-md bg-[color:var(--primary)] text-[color:var(--primary-text)]", "data-action": "unsaved-changes#reset"
      .flex.gap-2.items-center
        = form.check_box :send_quote_assignees, class: "checkbox-primary"
        = form.label :send_quote_assignees, "Send quote to assignees"
