.grid.gap-2
  %h2.font-medium Shipping Address
  .grid.grid-cols-4.gap-4
    = form.fields_for :order_shipping_address, form.object.order_shipping_address.blank? ? OrderShippingAddress.new : form.object.order_shipping_address do |osa|
      .field
        = osa.label :street
        = osa.text_field :street, required: true, class: "input-primary", placeholder: "Enter street"
      .field
        = osa.label :state
        = osa.text_field :state, required: true, class: "input-primary", placeholder: "Enter state"
      .field
        = osa.label :city
        = osa.text_field :city, required: true, class: "input-primary", placeholder: "Enter city"
      .field
        = osa.label :zip_code, "Postal Code"
        = osa.text_field :zip_code, class: "input-primary", placeholder: "Enter postal code"
