.border.border-gray-300.rounded.px-4.py-5.min-w-80.bg-white.h-80.max-h-80
  %h1.text-xl.font-medium Order Summary
  .space-y-4.mt-4
    .space-y-2
      .flex.items-center.justify-between.gap-4
        .text-base.font-normal.text-gray-500 Base Price
        .text-base.font-medium.text-gray-900{data: {"orders--form-target": "summaryPrice", value: @order.price }}
          = number_to_currency(@order.price, unit: "$", precision: 2)
      .flex.items-center.justify-between.gap-4
        .flex.items-center.gap-2
          .flex{class: "gap-1.5"}
            .text-base.text-gray-500 Discount
            = form.number_field :discount_percentage, class: "text-gray-600 border-none ring-1 ring-gray-300 focus:ring-gray-400 focus:border-none rounded-md p-0 w-14 text-center [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none", step: :any, data: {action: "input->orders--form#discountInput change->orders--form#discountChange"}
            %span.text-gray-500 %
        - discount_value = value_from_percentage(@order.price + @order.shipping_price, @order.discount_percentage)
        .text-base.font-medium.text-green-600{data: {"orders--form-target": "summaryDiscount", value: @order.discount_percentage}}
          = "-$#{number_with_precision(discount_value, precision: 2)}"
      .flex.items-center.justify-between.gap-4
        .flex.items-center.gap-2
          .text-base.text-gray-500 Tax
          = form.number_field :tax, class: "text-gray-600 border-none ring-1 ring-gray-300 focus:ring-gray-400 focus:border-none rounded-md p-0 w-14 text-center [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none", step: :any, data: {action: "input->orders--form#taxInput change->orders--form#taxChange"}
        .text-base.font-medium{data: {"orders--form-target": "summaryTax", value: @order.tax}}
          = number_to_currency(@order.tax, unit: "$", precision: 2)
      - subtotal = @order.price + @order.tax - discount_value
      .flex.items-center.justify-between.gap-4
        .text-base.font-normal.text-gray-500 Subtotal
        .text-base.font-medium.text-gray-900{data: {"orders--form-target": "summarySubtotal", value: subtotal }}
          = number_to_currency(subtotal, unit: "$", precision: 2)
    .border-t.border-gray-200.pt-3.space-y-1
      .flex.items-center.justify-between.gap-4
        .flex{class: "gap-1.5"}
          .text-base.text-gray-500 Shipping
          = form.number_field :shipping_price, class: "text-gray-600 border-none ring-1 ring-gray-300 focus:ring-gray-400 focus:border-none rounded-md p-0 w-14 text-center [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none", step: :any, data: {action: "input->orders--form#shippingInput change->orders--form#shippingChange"}
        .text-base.font-medium.text-gray-900{data: {"orders--form-target": "summaryShipping", value: @order.shipping_price}}
          = number_to_currency(@order.shipping_price, unit: "$", precision: 2)
      .flex.items-center.justify-between.gap-4
        .text-base.font-bold.text-gray-900 Total
        .text-base.font-bold.text-gray-900{data: {"orders--form-target": "summaryTotal", value: discount_value}}
          = number_to_currency(@order.total_amount, unit: "$", precision: 2)
