%tr
  %td.w-96.min-w-56.whitespace-nowrap.py-4{class: "text-[16px]"}
    = result.name
  %td.p-4.text-base.text-gray-500
    %span weight:
    = result.weight
  %td.p-4.text-base.text-gray-500
    stocks: 
  %td.p-4.text-base.font-semibold
    = number_to_currency(result.price, unit: "$", precision: 2)
  %td.p-4.flex.justify-end
    #quantity-container
      #quantity.small
        = button_tag class: "decrement transition-colors duration-200", type: "button", data: {action: ""} do
          = icon("fa-solid", "minus")
        = number_field_tag 'quantity', 1, min: 1, id: dom_id(result, "search-part-qty"), class: "number-input transition-colors duration-200", data: {action: ""}
        = button_tag class: "increment transition-colors duration-200", type: "button", data: {action: ""} do
          = icon("fa-solid", "plus")
  %td.py-4.pr-4
    %button.ml-auto.block.text-white.rounded.px-4.text-sm{id: dom_id(result, "search-item-btn"), type: "button", class: "py-1.5 #{(params[:order_id].present? && result.order_id.present?) ? "bg-[color:var(--secondary)]" : "bg-[color:var(--primary)]"} disabled:bg-gray-400"}
      - if params[:order_id].present? && part.product_id.present?
        Update
      - else
        Add
