- search_path = search_results_operational_portal_orders_path(format: :turbo_stream, order_id: @order.id)

.flex.gap-3.p-4.bg-white.rounded.border.border-gray-300.flex-col
  .flex.gap-4.items-center
    .relative{class: "w-[40%]"}
      %input.py-2.w-full.rounded-xl.border.h-fit.pr-4.pl-11.border-gray-300.focus:outline-0.focus:ring-4.focus:ring-gray-200{placeholder: "Search products", data: {"orders--form-target": "searchInput", action: "orders--form#search", url: search_path}}
      = icon("fa-solid", "magnifying-glass", class: "text-gray-500 text-lg absolute top-3 left-4")
    .relative{data: {controller: "dropdown"}}
      %button.py-2.flex.gap-2.items-center.justify-center.px-4.font-medium.text-gray-900.focus:outline-none.bg-white.rounded-xl.border.border-gray-300.hover:bg-gray-100.focus:z-10.focus:ring-4.focus:ring-gray-200{type: "button", data: {action: "dropdown#toggle click@window->dropdown#hide"}}
        = icon("fa-solid", "filter", class: "text-gray-400")
        %span.text-gray-500 Filter
        = icon("fa-solid", "chevron-down", class: "text-gray-400 text-sm")
      .hidden.transition.transform.origin-top-right.absolute.right-0.z-10{"data-dropdown-target" => "menu", "data-transition-enter-from" => "opacity-0 scale-95", "data-transition-enter-to" => "opacity-100 scale-100", "data-transition-leave-from" => "opacity-100 scale-100", "data-transition-leave-to" => "opacity-0 scale-95"}
        .border.p-3.rounded.shadow.bg-white.w-40.mt-2
          .flex.flex-col
            %label.text-sm.text-gray-500 Search by:
            .flex.items-center.gap-2
              = radio_button("search", "item", "products", {checked: true, data: {"orders--form-target": "searchByRadio", action: "orders--form#searchBy"}})
              %label{for: "search_item_products"} product
            .flex.items-center.gap-2
              = radio_button("search", "item", "parts", {data: {"orders--form-target": "searchByRadio", action: "orders--form#searchBy"}})
              %label{for: "search_item_parts"} part
  .h-72.overflow-y-auto.w-full.relative.overscroll-contain
    = turbo_frame_tag "search-results", src: search_path, loading: :lazy do
      = render "loading_template"
