.border.border-gray-300.rounded-lg.py-1.bg-white.w-full.h-fit.col-span-2
  .table
    .table-header-group
      .table-row
        .table-cell Name
        .table-cell SKU
        .table-cell Type
        .table-cell Quantity
        .table-cell Base Price
        .table-cell Total Price
    .table-row-group
      - @order.order_details.with_part_and_product.each do |item|
        .table-row{data: {controller: "dialog", action: "click->dialog#backdropClose"}}
          = render "show_order_list_modal", item:
          .table-cell{data: {action: "click->dialog#open"}}
            .flex.gap-2.items-center
              - if item.product_id.present? && item.product.images.first.present?
                = image_tag item.product.images.first.variant(:thumb), class: "w-12 h-12 object-cover border rounded-sm"
              - elsif item.part_id.present? && item.part.images.first.present?
                = image_tag item.part.images.first.variant(:thumb), class: "w-12 h-12 object-cover border rounded-sm"
              - else
                = image_tag "thumbnail.png", class: "w-12 h-12 rounded"
              %span
                - if item.product_id.present?
                  = item.product_name
                - else
                  = item.part_name
          .table-cell{data: {action: "click->dialog#open"}}
            .flex.items-center
              .h-12
              - if item.product_id.present?
                = item.product_sku || "N/A"
              - else
                = item.part_sku || "N/A"
          .table-cell{data: {action: "click->dialog#open"}}
            .flex.items-center
              .h-12
              - if item.product_id.present?
                .product-type-tag
                  Product
              - else
                .part-type-tag
                  Part
          .table-cell{data: {action: "click->dialog#open"}}
            .flex.items-center
              .h-12
              = "x#{item.quantity}"
          .table-cell{data: {action: "click->dialog#open"}}
            .flex.items-center
              .h-12
              = number_to_currency(item.price, precision: 2)
          .table-cell.font-bold.text-gray-900{data: {action: "click->dialog#open"}}
            .flex.items-center
              .h-12
              = number_to_currency(item.subtotal)
