= form_with(model: @order, url: operational_portal_order_path, html: {data: {controller: "orders--show-form"}, class: "grid grid-cols-3 gap-5"}) do |form|
  .bg-white.rounded-lg.border.px-4.py-5.border-gray-300
    %h6.font-normal.text-gray-500.mb-2
      Order Details
    .grid.gap-2
      %p
        %strong Order ID:
        = @order.id
      %p
        %strong Order Date:
        %span= @order.created_at.strftime("%B %d, %Y %I:%M %p")
      .flex.gap-2.items-center{data: {controller: "choices"}}
        %strong Status:      
        = form.collection_select :order_status_id, OrderStatus.all, :id, :name, {prompt: 'Select Status'}, {required: true, "data-choices-target": "select"}
  .bg-white.rounded-lg.border.px-4.py-5.border-gray-300
    .flex.gap-3.mb-1.items-center.mb-2
      %h6.font-normal.text-gray-500
        Customer Details
    .grid.gap-2
      %p
        %strong Customer:
        = @order.customer.name
      .flex.gap-2
        %strong.mt-3 Assignees:
        .w-full
          = form.collection_select :user_ids, form.object.customer.users, :id, :name, {prompt: 'Select User'}, {multiple: true, "data-orders--show-form-target": "assignee", "data-url": users_operational_portal_customer_url(id: ":id"), disabled: form.object.new_record? ? true :false}
  .bg-white.rounded-lg.border.px-4.py-5.border-gray-300
    .flex.gap-3.mb-1.items-center.mb-1
      %h6.font-normal.text-gray-500
        Shipping Details
      .block{"data-action" => "click->dialog#backdropClose", "data-controller" => "dialog"}
        %dialog{"data-dialog-target" => "dialog"}
          .bg-white.p-5.w-80
            %p The modal's content here
            %button{autofocus: "", "data-action" => "dialog#close", type: "button"} Cancel
        %button.text-gray-400.transition-colors{data: {action: "dialog#open"}, type: "button", class: "hover:text-[var(--primary)]"}
          = icon("fa-solid", "pen-to-square")
    .flex.gap-2.items-start
      = icon("fa-solid", "location-dot", class: "text-gray-600 mt-1")
      %span.font-medium.text-gray-900
        - if @order.order_shipping_address.present?
          = order_readable_shipping_address(shipping_address: @order.order_shipping_address)
        - else
          N/A
