.table
  .table-header-group{class: "bg-gray-50"}
    .table-row
      .table-cell ID
      .table-cell Customer Name
      .table-cell Status
      .table-cell Total Amount
      .table-cell Created Date
  .table-row-group
    - if @orders.present?
      - @orders.each do |order|
        .table-row.cursor-pointer{id: dom_id(order), data: {controller: "dialog", action: "click->dialog#backdropClose"}}
          = render "order_modal", order: order
          .table-cell{data: {action: "click->dialog#open"}}
            = "Order ##{order.formatted_id}"
          .table-cell{data: {action: "click->dialog#open"}}
            = order.customer_name
          .table-cell{id: "list-order-status-#{order.id}", data: {action: "click->dialog#open"}}
            = order.status
          .table-cell{data: {action: "click->dialog#open"}}
            = number_to_currency(order.total_amount, unit: "$", precision: 2)
          .table-cell{data: {action: "click->dialog#open"}}
            = order.created_at
    - else
      .table-row
        .table-cell No orders found
        .table-cell
        .table-cell
        .table-cell
        .table-cell
