%table#orders-table
  %thead.border-b-0{class: "bg-gray-50"}
    %tr
      %th ID
      %th Customer Name
      %th Status
      %th Total Amount
      %th Created Date
  %tbody
    - if @orders.present?
      - @orders.each do |order|
        %tr{id: dom_id(order)}
          %td
            .block{data: {controller: "dialog", action: "click->dialog#backdropClose"}}
              = render "order_modal", order: order
              %button.font-medium.text-gray-900.hover:underline{type: "button", data: {action: "dialog#open"}, type: "button"}
                = "Order ##{order.id}"
          %td= order.customer_name
          %td{id: "list-order-status-#{order.order_status_id}"}= order.status
          %td= number_to_currency(order.total_amount, unit: "$", precision: 2)
          %td= order.created_at
    - else
      %tr
        %td No orders found
