- if @order.errors.blank?
  = turbo_stream.prepend "notification-container" do
    = render NotificationComponent.new notif_type: "success", message: "Order was successfully voided."
  = turbo_stream.remove dom_id(@order)
- else 
  = turbo_stream.prepend "notification-container" do
    = render NotificationComponent.new notif_type: "error", message: "Something went wrong."
