/ app/views/operational_portal/orders/edit.html.erb
%h1
  Update #{"Order ##{@order.id}"}
= form_with(model: @order, local: true, url: operational_portal_order_path) do |form|
  - if @order.errors.any?
    #error_explanation
      %h2
        = pluralize(@order.errors.count, "error")
        prohibited this order from being saved:
      %ul
        - @order.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :customer_id, "Customer"
    = form.collection_select :customer_id, Customer.all, :id, :name, prompt: "Select a Customer"
  .field
    = form.label :status
    = form.select :status, Order.STATUSES.map { |status| [status.titleize, status] }
  .field
    = form.label :total_amount, "Total Amount"
    = form.number_field :total_amount, step: :any
  .actions
    = form.submit "Update Order"
= link_to 'Back', operational_portal_orders_path
