.w-full.py-6
  %h1.text-2xl.font-medium.mb-4 New Order
  = form_with(model: @order, url: operational_portal_orders_path, html: {class: "grid gap-5", data: {controller: "orders--form"}}) do |form|
    - if @order.errors.any?
      = render ErrorCardComponent.new errors: @order.errors.full_messages, label: "Validations"
    .field
      = form.label :customer_id, "Select Customer"
      = form.collection_select :customer_id, Customer.all, :id, :name, {prompt: '--Select Customer--'}, {class: "input-primary"}
    = form.hidden_field :status, value: "pre-order"
    = render "search"
    %template{data: {"orders--form-target": "template"}}
      = form.fields_for :order_details, OrderDetail.new, child_index: 'NEW_RECORD' do |od_form|
        = render "item", name: "{{name}}", quantity: "{{quantity}}", price: "{{price}}", part_id: "{{part-id}}", product_id: "{{product_id}}", weight: "{{weight}}", id: "{{id}}", type: "{{type}}", item_price: "{{item-price}}", f: od_form
    .flex.w-full.gap-5.mt-2
      .px-4.py-5.w-full.divide-y.h-full.min-h-80.border.border-gray-300.rounded.bg-white.flex.flex-col.w-full{data: { "orders--form-target": "addedItems"}}
        .hidden{data: {"orders--form-target": "target"}}
      = render "order_summary"
    .flex
      = form.submit "Create Order", class: "btn-md bg-[color:var(--primary)] text-[color:var(--primary-text)]"
