.py-6.flex.flex-col.gap-5
  = turbo_frame_tag "order_show" do
    .flex.flex-col.gap-5
      .px-4.py-3.border.shadow.round.bg-white.rounded
        %h1.mb-1 Order Details
        %p
          %strong Order ID:
          = @order.id
        %p
          %strong Customer:
          = @order.customer.name
        %p
          %strong Status:
          = @order.order_status.name
        %p
          %strong Order Date:
          %span.local-time{"data-time" => "#{@order.created_at.iso8601}"}= @order.created_at.strftime("%B %d, %Y %I:%M %p")
        %p
          %strong Total Amount:
          = number_to_currency(@order.total_amount)

      - order_details = @order.order_details.with_part_and_product

      .table-primary
        .px-4.py-3
          %h2.text-lg.font-semibold Parts
        %table
          %thead
            %tr
              %th Item
              %th Type
              %th Quantity
              %th Price
              %th Subtotal
          %tbody
            - if order_details.any?
              - order_details.each do |item|
                %tr
                  %td
                    - if item.product_name
                      = item.product_name
                    - elsif item.part_name
                      = item.part_name
                    - else
                      Unknown Item
                  %td= item.product_name ? 'Product' : 'Part'
                  %td= item.quantity || 'N/A'
                  %td= number_to_currency(item.price)
                  %td
                    = number_to_currency(item.subtotal)
  = link_to 'Edit Order', edit_operational_portal_order_path(@order), class: 'w-fit btn-md bg-[color:var(--primary)] text-[color:var(--primary-text)]'
