.py-6.flex.flex-col.gap-5
  = turbo_frame_tag "order_show" do
    #show-alert
    .flex.flex-col.gap-5
      = render "show_cards"
      .grid.grid-cols-3.gap-5
        = render "show_order_list"
        = render "show_order_summary"
      .flex.gap-3{class: params[:modal] == "true" ? "sticky bottom-0 w-full bg-white py-4 border-t" : ""}
        - if can?(:update, @order)
          = link_to 'Edit Order', edit_operational_portal_order_path(@order), id: "order-link-#{@order.id}", target: :_top, class: 'w-fit btn-md bg-[color:var(--primary)] text-[color:var(--primary-text)]'
          = button_to operational_portal_order_path(@order), id: "order-remove-#{@order.id}", method: :delete, class: "flex items-center gap-2 w-fit btn-md bg-red-600 text-white", form: {data: {turbo_confirm: 'Are you sure to void this order?'}} do
            = icon("fa-solid", "trash-arrow-up")
            Void Order
        - if params[:modal] == "true"
          %button.btn-md.bg-gray-500.text-white.flex.items-center.gap-2{data: {action: "dialog#close"}}
            = icon("fa-solid", "xmark", class: "text-lg")
            Close
