- if @order.errors.blank?
  - unless params[:modal] == "true"
    = turbo_stream.prepend "notification-container" do
      = render NotificationComponent.new notif_type: "success", message: "Order was successfully updated."
  - else
    = turbo_stream.prepend "show-alert" do
      = render AlertComponent.new notif_type: :success, message: "Order was successfully updated."
- else 
  - unless params[:modal] == "true"
    = turbo_stream.prepend "notification-container" do
      = render NotificationComponent.new notif_type: "error", message: "Something went wrong."
  - else
    = turbo_stream.prepend "show-alert" do
      = render AlertComponent.new notif_type: :error, message: "Something went wrong."

- if params[:show] = "true"
  = turbo_stream.replace "order-show-cards-#{@order.id}" do
    = render "show_cards" 
  - if cannot?(:update, @order)
    = turbo_stream.remove "order-link-#{@order.id}"
    = turbo_stream.remove "order-remove-#{@order.id}"

  = turbo_stream.replace "list-order-status-#{@order.id}" do
    .table-cell{id: "list-order-status-#{@order.id}", data: {action: "click->dialog#open"}}
      = @order.order_status.name
