.field{data: {controller: "poly-attribute"}}
  .flex.gap-1.items-center{data: {"poly-attribute-target": "staticLabel"}}
    = nested_form.label :value, nested_form.object.label
    %button{data: {action: "poly-attribute#editLabelToggle"}, type: "button"}
      = icon("fa-solid", "pen-to-square", class: "text-sm")
  .flex.gap-1.items-center.hidden.w-fit.mb-1{data: {"poly-attribute-target": "inputLabel"}}
    = nested_form.text_field :label, class: "px-2 py-0 rounded w-40 focus:ring-0 border border-gray-300 focus:border-gray-500", placeholder: "Label"
  - case nested_form.object.input_type
  - when "text"
    = nested_form.text_field :value, class: "input-primary", placeholder: nested_form.object.label
  - when "number"
    = nested_form.number_field :value, class: "input-primary", placeholder: "0"
  - when "decimal"
    = nested_form.number_field :value, class: "input-primary", step: :any, placeholder: "0.00"
  - when "color"
    .h-16{data: {controller: "color-picker"}}
      = form.hidden_field :value, data: {"color-picker-target": "input"}
      .block{data: {"color-picker-target": "button"}}
