<h1><%= @part.name %></h1>
<p><%= @part.description %></p>
<% if user_signed_in? %>
        <p>Price: <%= part.price %></p>
        <% if current_user.customer? && current_user.customer.discount.present? %>
          <p>Discounted Price: <%= part.price * (1 - current_user.customer.discount / 100.0) %></p>
        <% end %>
      <% else %>
        <p>Login to see prices</p>
      <% end %>
<%= link_to 'Add to Cart', new_order_path(part_id: @part.id) %>
