%h1= @part.name
%p= @part.description
- if user_signed_in?
  %p
    Price: #{part.price}
  - if current_user.customer? && current_user.customer.discount.present?
    %p
      Discounted Price: #{part.price * (1 - current_user.customer.discount / 100.0)}
- else
  %p Login to see prices
= link_to 'Add to Cart', new_order_path(part_id: @part.id)
