%template{data: {"products--form-target": "template"}}
  %tbody
    = form.fields_for :parts_products, PartsProduct.new, child_index: 'NEW_RECORD' do |part_form|
      = render "part_form", name: "{{name}}", quantity: "{{quantity}}", price: "{{price}}", part_id: "{{part-id}}", f: part_form, weight: "{{weight}}", id: "{{id}}", price_per_item: "{{price-per-item}}", sku: "{{sku}}" 
.flex.gap-5.mt-2
  .flex.flex-col.w-full.gap-3.h-fit
    %h2 Current Parts
    .py-4.w-full.h-full.min-h-80.border.border-gray-300.rounded.bg-white.flex.flex-col.w-full{data: { "products--form-target": "addedParts"}}
      %table.w-full.text-left.text-base.text-gray-900
        %thead.bg-gray-50
          %tr.uppercase.text-sm
            %th Part Name
            %th SKU
            %th Weight
            %th QTY
            %th Total Price
            %td
        %tbody{data: {"products--form-target": "target"}}
          = form.fields_for :parts_products do |pp_form|
            = render "part_form", name: pp_form.object.part.name, quantity: pp_form.object.quantity, price: pp_form.object.part.price, part_id: pp_form.object.part_id, weight: pp_form.object.part.weight, f: pp_form, id: pp_form.object.id, price_per_item: pp_form.object.part.price, sku: pp_form.object.part.sku.present? ? pp_form.object.part.sku : "N/A"
      .grid.w-full.h-64.place-items-center{data: {"products--form-target": "empty"}, class: @product.parts_products.present? ? "hidden" : "" }
        .flex.flex-col.gap-1.items-center.text-gray-400
          = icon("fa-solid", "box-open", class: "text-5xl")
          %span
            Add at least one part
  .block{class: "w-[700px]"}
    = render "form_image_upload", form: form
