%tr
  %td.w-96.min-w-56.whitespace-nowrap.py-4{class: "text-[16px]"}
    = part.name
  %td.p-4.text-base.font-semibold.text-gray-900
    = number_to_currency(part.price, unit: "$", precision: 2)
  %td.p-4.flex.justify-end
    #quantity-container
      #quantity.small
        = button_tag class: "decrement transition-colors duration-200", type: "button" do
          = icon("fa-solid", "minus")
        = number_field_tag 'quantity', 1, min: 1, class: "number-input transition-colors duration-200"
        = button_tag class: "increment transition-colors duration-200", type: "button" do
          = icon("fa-solid", "plus")
  %td.py-4
    %button.ml-auto.block.rounded-lg.p-2.text-gray-500.hover:bg-gray-100.hover:text-gray-900{"data-tooltip-placement" => "top", "data-tooltip-target" => "remove-tooltip", type: "button"}
      = icon("fa-solid", "check")
