.w-full
  .py-6
    %h1.text-2xl.font-medium.mb-4 New Product
    = form_with(model: @product, url: operational_portal_products_path, html: {class: "grid gap-3"}) do |form|
      - if @product.errors.any?
        = render ErrorCardComponent.new errors: @product.errors.full_messages, label: "Validations"
      .field
        = form.label :name
        = form.text_field :name, required: true, class: "input-primary"
      .field
        = form.label :description
        = form.text_area :description, required: true, class: "input-primary", rows: 4
      = render "search_parts" 
      .text-lg.mt-2
        %span.font-medium Price:
        = number_to_currency(@product.price || 0.00)
      .mt-1
        = form.submit "Save Product", class: 'btn-md bg-[color:var(--primary)] text-[color:var(--primary-text)]'
    = link_to 'Back', operational_portal_catalog_path, class: 'btn btn-secondary'
