= turbo_frame_tag "product_show" do
  .py-4.flex.flex-col.gap-4
    .px-4.py-3.rounded.bg-white.border.shadow
      %h1.text-xl.mb-1.font-medium
        = @product.name
      %p
        %strong Price:
        = number_to_currency(@product.price, unit: "$", precision: 2)
      %p
        %strong Description:
        = @product.description
      %p
        %strong Weight:
        = number_with_precision(@product.weight, precision: 2)
        lbs
    .table-primary
      .px-4.py-3
        %h2.text-lg.font-semibold Parts
      %table
        %thead.bg-gray-50.border-b-0
          %tr
            %th Name
            %th Price
            %th Weight
            %th Quantity
            %th Description
        %tbody
          - @product.parts_products.each do |parts_product|
            %tr
              %td
                .block{data: {controller: "dialog", action: "click->dialog#backdropClose"}}
                  = render "part_modal", pp: parts_product
                  .hover:underline.cursor-pointer{data: {action: "click->dialog#open"}}
                    = parts_product.part.name
              %td= number_to_currency(parts_product.part.price, unit: "$", precision: 2)
              %td= number_with_precision(parts_product.part.weight, precision: 2)
              %td= parts_product.quantity
              %td= parts_product.part.description
    .flex.gap-3{class: params[:modal] == "true" ? "sticky bottom-0 w-full bg-white py-4 border-t mt-2" : ""}
      = link_to 'Edit Product', edit_operational_portal_product_path(@product), class: 'w-fit btn-md bg-[color:var(--primary)] text-[color:var(--primary-text)]', target: :_top
      = button_to operational_portal_product_path(@product), method: :delete, class: "flex items-center gap-2 w-fit btn-md bg-red-600 text-white", form: {data: {turbo_confirm: 'Are you sure to void this product?'}} do
        = icon("fa-solid", "trash-arrow-up")
        Void Product
      - if params[:modal] == "true"
        %button.btn-md.bg-gray-500.text-white.flex.items-center.gap-2{data: {action: "dialog#close"}}
          = icon("fa-solid", "xmark", class: "text-lg")
          Close
