#import-upload-list
  .table-primary
    .table
      .table-header-group
        .table-row
          .table-cell Id
          .table-cell Uploaded At
          .table-cell Uploaded By
          .table-cell Status
      .table-row-group
        - if @customer_imports.present?
          - @customer_imports.each do |ci|
            .table-row.cursor-pointer{id: dom_id(ci), data: {controller: "dialog", action: "click->dialog#backdropClose"}}
              .table-cell{data: {action: "click->dialog#open"}}
                = ci.id
              .table-cell{data: {action: "click->dialog#open"}}
                = ci.created_at
              .table-cell{data: {action: "click->dialog#open"}}
                = "#{ci.created_by.first_name} #{ci.created_by.last_name}"
              .table-cell{id: "import-upload-#{ci.id}", data: {action: "click->dialog#open"}}
                %div{class: "#{ci.status}-tag"}
                  = ci.status
        - else
          .table-row
            .table-cell No Imports Found
            .table-cell
            .table-cell
            .table-cell

    - if @pagy.pages > 1          
      .flex.gap-3.items-center.w-full.justify-between.px-4.py-3
        != pagy_nav(@pagy, link_extra: 'data-turbo-stream="true"')
        != pagy_info(@pagy)
