<!-- app/views/operational_portal/products/show.html.erb -->
<div class="container">
  <h1>Product: <%= @product.name %></h1>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency(@product.price, unit: "$", precision: 2) %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Weight:</strong> 
    <%= number_with_precision(@product.weight, precision: 2) %> lbs
  </p>


  <h2>Parts</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Weight</th>
        <th>Quantity</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @product.parts_products.each do |parts_product| %>
        <tr>
          <td><%= parts_product.part.name %></td>
          <td><%= number_to_currency(parts_product.part.price, unit: "$", precision: 2) %></td>
          <td><%= number_with_precision(parts_product.part.weight, precision: 2) %></td>
          <td><%= parts_product.quantity %></td>
          <td><%= parts_product.part.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Edit', edit_operational_portal_product_path(@product), class: 'btn btn-secondary' %> |
  <%= link_to 'Back', operational_portal_catalog_path, class: 'btn btn-primary' %>
</div>
