.flex.justify-between.gap-4.flex-col.md:flex-row{data: {controller: "catalog--search", url: operational_portal_catalog_index_path}}
  .flex.gap-3.items-center
    .flex
      .relative
        %input.text-sm.border.border-gray-300.rounded-l-lg.pl-10.pr-4.w-full.lg:w-96{class: "py-2.5 focus:outline-[color:var(--primary)]", placeholder: "Search..", data: {"catalog--search-target": "input", action: "input->catalog--search#search"}}
        = icon("fa-solid", "magnifying-glass", class: "text-sm absolute top-3.5 left-3.5 text-gray-400")
      %button.rounded-r-lg.px-5.text-white.-ml-1.z-10{class: "bg-[color:var(--primary)]", data: {action: "click->catalog--search#searchExec"}}
        search
    .relative{data: {controller: "dropdown"}}
      %button.py-2.flex.gap-2.items-center.justify-center.px-4.font-medium.text-gray-600.focus:outline-none.bg-white.rounded-xl.border.border-gray-300.hover:bg-gray-100.focus:z-10.focus:ring-4.focus:ring-gray-200{type: "button", data: {action: "dropdown#toggle click@window->dropdown#hide"}}
        = icon("fa-solid", "filter", class: "text-sm text-gray-400")
        Filter
        = icon("fa-solid", "chevron-down", class: "text-sm text-gray-400")
      .hidden.transition.transform.origin-top-right.absolute.right-0.z-10{"data-dropdown-target" => "menu", "data-transition-enter-from" => "opacity-0 scale-95", "data-transition-enter-to" => "opacity-100 scale-100", "data-transition-leave-from" => "opacity-100 scale-100", "data-transition-leave-to" => "opacity-0 scale-95"}
        .border.p-3.rounded.shadow.bg-white.w-40.mt-2
          .flex.flex-col
            %label.text-sm.text-gray-500 Filter by
            .flex.items-center.gap-2
              = radio_button("filter", "item", "all", {checked: true, data: {"catalog--search-target": "filterByRadio", action: "catalog--search#searchExec"}})
              %label{for: "filter_item_products"} All
            .flex.items-center.gap-2
              = radio_button("filter", "item", "products", {data: {"catalog--search-target": "filterByRadio", action: "catalog--search#searchExec"}})
              %label{for: "filter_item_products"} Product
            .flex.items-center.gap-2
              = radio_button("filter", "item", "parts", {data: {"catalog--search-target": "filterByRadio", action: "catalog--search#searchExec"}})
              %label{for: "filter_item_parts"} Part
  .flex.items-center.gap-3
    = link_to new_operational_portal_product_path, class: "flex gap-3 items-center btn-sm bg-[color:var(--primary)] text-[color:var(--primary-text)]" do
      = icon("fa-solid", "plus", class: "text-sm")
      New Product
    = link_to new_operational_portal_part_path, class: "flex gap-3 items-center btn-sm bg-[color:var(--primary)] text-[color:var(--primary-text)]" do
      = icon("fa-solid", "plus", class: "text-sm")
      New Part
