/ app/views/operational_portal/dashboard/index.html.erb
.py-5.flex.flex-col.gap-5
  .flex.flex-col.gap-3
    %h1.font-semibold.text-2xl Operational Dashboard
    %p{class: "text-[17px]"}
      welcome, #{current_user.name}!
  .grid.gap-5
    .grid.gap-2
      %h2.font-medium All Orders
      .table-primary
        %table
          %thead
            %tr
              %th ID
              %th Customer Name
              %th Status
              %th Total Amount
              %th Created Date
          %tbody
            - if @orders.present?
              - @orders.each do |order|
                %tr
                  %td= link_to "Order ##{order.id}", operational_portal_order_path(order)
                  %td= order.customer_name
                  %td= order.status
                  %td= order.total_amount
                  %td= order.created_at
            - else
              %tr
                %td No orders found
    .grid.gap-2
      %h2.font-medium Support Tickets
      .table-primary
        %table.table
          %thead
            %tr
              %th Ticket Title
              %th Customer Name
              %th Status
              %th Created Date
          %tbody
            - if @support_tickets.present?
              - @support_tickets.each do |ticket|
                %tr.order-row
                  %td= link_to ticket.title, operational_portal_support_ticket_path(ticket)
                  %td= ticket.customer_name
                  %td= ticket.status
                  %td.local-time{"data-time" => "#{ticket.created_at}"}= ticket.created_at
            - else
              %tr
                %td{:colspan => "5"} No Support Tickets found
