/ app/views/operational_portal/catalog/index.html.erb
.container
  %h1 Catalog
.container_wide
  %h2.mt-4 Products
  .actions
    = link_to 'New Product', new_operational_portal_product_path, class: 'btn btn-primary'
  %table.table
    %thead
      %tr
        %th Name
        %th Price
        %th Description
    %tbody
      - @products.each do |product|
        %tr
          %td= link_to product.name, operational_portal_product_path(product)
          %td= number_to_currency(product.price, unit: "$", precision: 2)
          %td= product.description
  %h2.mt-4 Parts
  .actions
    = link_to 'New Part', new_operational_portal_part_path, class: 'btn btn-primary'
  %table.table
    %thead
      %tr
        %th Name
        %th Price
        %th In Stock
        %th Description
        %th Weight
    %tbody
      - @parts.each do |part|
        %tr
          %td= link_to part.name, operational_portal_part_path(part)
          %td= number_to_currency(part.price, unit: "$", precision: 2)
          %td
            - if part.inventory
              = part.in_stock
          %td= part.description
          %td= part.weight
