<tr id="webhook_<%= webhook.id %>">
  <td><%= webhook.url %></td>
  <td><%= webhook.customer.name %></td>
  <td>
    <%= link_to 'Edit', edit_webhook_path(webhook), remote: true %>
    <%= link_to 'Delete', webhook, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
  </td>
</tr>
