/ app/views/webhooks/index.html.erb
%h1 Webhooks List
%table
  %thead
    %tr
      %th URL
      %th Customer
      %th Actions
  %tbody
    - @webhooks.each do |webhook|
      %tr
        %td= webhook.url
        %td= webhook.customer.name
        %td
          = link_to 'Show', webhook
          = link_to 'Edit', edit_webhook_path(webhook)
          = link_to 'Delete', webhook, method: :delete, data: { confirm: 'Are you sure?' }, remote: true
= link_to 'New Webhook', new_webhook_path
