<!-- app/views/customer_portal/support_tickets/index.html.erb -->
<h1>Your Support Tickets</h1>

<%= link_to 'New Support Ticket', new_customer_portal_support_ticket_path %>

<ul>
  <% @support_tickets.each do |ticket| %>
    <li class="list-group-item">
      <%= link_to ticket.title, customer_portal_support_ticket_path(ticket) %>
      <% if current_user.role == 'customer_user_admin' || (current_user.role == 'customer_user_regular' && ticket.user == current_user) %>
      <%= link_to 'Edit', edit_customer_portal_support_ticket_path(ticket) %>

      <% end %>
    </li>
  <% end %>
</ul>

<div class="container">
<h1>Support Tickets</h1>

<div class="actions">
<%= link_to 'New Support Ticket', new_customer_portal_support_ticket_path, class: 'btn btn-primary' %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Ticket Title</th>
      <th>Customer Name</th>
      <th>Status</th>
      <th>Created Date</th>
      </tr>
  </thead>
  <tbody>
    <% if @support_tickets.present? %>
      <% @support_tickets.each do |ticket| %>
        <tr class="order-row">
          <td><%= link_to ticket.title, customer_portal_support_ticket_path(ticket) %></td>
          <td><%= ticket.customer.name %></td>
          <td><%= ticket.status %></td>
          <td class="local-time" data-time="<%= ticket.created_at %>"><%= ticket.created_at %></td>
         </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="5">No Support Tickets found</td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>