= form_with(model:, url:, html: {class: "grid gap-2", data: {controller: "parts--form"}}) do |form|
  - if @part.errors.any?
    = render ErrorCardComponent.new errors: @part.errors.full_messages, label: "Validations"
  .field
    = form.label :name
    = form.text_field :name, class: "input-primary", required: true
  .field
    = form.label :description
    = form.text_area :description, class: "input-primary"
  .field
    = form.label :weight
    = form.number_field :weight, placeholder: "0.0", step: :any, class: "input-primary", value: form.object.weight.zero? ? nil : form.object.weight
  .flex.gap-2.items-center
    = form.check_box :inventory, class: 'checkbox-primary', data: {"parts--form-target": "inventory", action: "input->parts--form#inventoryToggle"}
    = form.label :inventory, "Inventory"
  .field{class: form.object.inventory ? "" : "hidden", data: {"parts--form-target": "instockDisplay"}}
    = form.label :in_stock, "In Stock"
    = form.number_field :in_stock, disabled: !form.object.inventory, placeholder: "0", value: form.object.in_stock.zero? ? nil : form.object.in_stock, class: "input-primary", data: {"parts--form-target": "instock"}
  .flex.gap-2.items-center
    = form.check_box :manual_price, class: 'checkbox-primary', placeholder: "0.00", data: {"parts--form-target": "manualPrice", action: "parts--form#overrideToggle"}
    = form.label :manual_price, "Override Price"
  .field{class: form.object.manual_price ? "" : "hidden", data: {"parts--form-target": "priceDisplay"}}
    = form.label :price, "Price $"
    = form.number_field :price, placeholder: "0.00", value: form.object.price.zero? ? nil : form.object.price, step: 0.01, class: "input-primary", disabled: !form.object.manual_price, data: {"parts--form-target": "price"}
  .flex.gap-2.text-xl.font-medium{data: {"parts--form-target": "staticPriceDisplay"}}
    %span Price:
    %span 
      = "$#{form.object.price}"
  .field
    = form.label :files
    = form.file_field :files, multiple: true
  .mt-2
    = form.submit btn_text, class: "btn-md bg-[color:var(--primary)] text-[color:var(--primary-text)]"
