= turbo_frame_tag "part_show" do
  .py-4.flex.flex-col.gap-3
    .bg-white.px-4.py-3.bg-white.rounded.border.shadow
      %h1.text-xl.mb-1.font-medium
        = @part.name
      %p
        %strong Price:
        = @part.price
      %p
        %strong In Stock:
        - if @part.inventory
          = @part.in_stock
        - else
          Available
      %p
        %strong Description:
        = @part.description
      %p
        %strong Weight:
        = number_with_precision(@part.weight, precision: 2)
    .flex.gap-3{class: params[:modal] == "true" ? "sticky bottom-0 w-full bg-white py-4 border-t mt-2" : ""}
      = link_to 'Edit Part', edit_operational_portal_part_path(@part), class: 'w-fit btn-md bg-[color:var(--primary)] text-[color:var(--primary-text)]', target: :_top
      = button_to operational_portal_part_path(@part), method: :delete, class: "flex items-center gap-2 w-fit btn-md bg-red-600 text-white", form: {data: {turbo_confirm: 'Are you sure to void this part?'}} do
        = icon("fa-solid", "trash-arrow-up")
        Void Part
      - if params[:modal] == "true"
        %button.btn-md.bg-gray-500.text-white.flex.items-center.gap-2{data: {action: "dialog#close"}}
          = icon("fa-solid", "xmark", class: "text-lg")
          Close
