/ app/views/operational_portal/parts/show.html.erb
.container
  %h1
    Part: #{@part.name}
  %p
    %strong Price:
    = @part.price
  - if @part.inventory
    %p
      %strong In Stock:
      = @part.in_stock
  %p
    %strong Description:
    = @part.description
  %p
    %strong Weight:
    = number_with_precision(@part.weight, precision: 2)
  %p
    %strong Attributes:
    = @part.json_attributes
  = link_to 'Edit', edit_operational_portal_part_path(@part), class: 'btn btn-secondary'
