- if params[:more] == "true"
  = turbo_stream.remove "catalog-page-#{params[:page]}"
  = turbo_stream.append "catalog-list" do
    = render "items"
- else
  = turbo_stream.replace "catalog-list" do
    = render "right_side"
