.w-full.py-5
  %h1.text-2xl.font-medium.mb-4 New Customer
  = form_with(model: @customer, url: operational_portal_customers_path, local: true) do |form|
    - if @customer.errors.any?
      = render ErrorCardComponent.new errors: @customer.errors.full_messages, label: "Validations"
    .grid.grid-cols-2.gap-3
      .field
        = form.label :name
        = form.text_field :name
      .field
        = form.label :phone
        = form.telephone_field :phone
    .block
      %h2 Address
      .grid.grid-cols-2.gap-3
        .field
          = form.label :street
          = form.text_field :street
        .field
          = form.label :city
          = form.text_field :city
        .field
          = form.label :state
          = form.text_field :state
        .field
          = form.label :postal_code
          = form.text_field :postal_code
    .field
      = form.label :discount, "Discount %"
      = form.number_field :discount, value: format('%.2f', @customer.discount.to_f), step: '0.01'
    .block
      = form.submit "Save Customer", class: "btn"
