<!-- app/views/operational_portal/support_tickets/show.html.erb -->
<h1>Support Ticket Details</h1>

<p><strong>Ticket ID:</strong> <%= @support_ticket.id %></p>
<p><strong>Title:</strong> <%= @support_ticket.title %></p>
<p><strong>Status:</strong> <%= @support_ticket.status %></p>
<p><strong>Created At:</strong> <%= @support_ticket.created_at.strftime("%B %d, %Y %H:%M") %></p>

<h2>Messages</h2>
<ul>
  <% if @support_ticket.support_ticket_messages.any? %>
    <% @support_ticket.support_ticket_messages.each do |support_ticket_message| %>
      <li style="margin-bottom: 1em;">
        <strong>Message Added:</strong> <%= support_ticket_message.created_at.strftime("%B %d, %Y %H:%M") %>
        <div>
          <strong>Message:</strong> <%= support_ticket_message.body %>
        </div>
        <% if support_ticket_message.file.attached? %>
        <div>
        <strong>File:</strong> <%= support_ticket_message.file.filename.to_s %>
        <div>
        <%= link_to "Preview", preview_message_file_operational_portal_support_ticket_path(@support_ticket, message_id: support_ticket_message.id), class: "preview-button", data: { turbo_frame: "preview-frame" } %>
        <%= link_to "Download", rails_blob_path(support_ticket_message.file, disposition: "attachment") %>
        </div>
      </div>
        <% end %>
      </li>
    <% end %>
  <% else %>
    <li>No messages found.</li>
  <% end %>
</ul>

<hr style="margin: 2em 0;">

<% if current_user.role == 'admin' || current_user.role == 'manager' %>
  <h3>Add a New Message</h3>
  <%= form_with model: [@support_ticket, SupportTicketMessage.new], url: add_message_operational_portal_support_ticket_path(@support_ticket), local: true, html: { multipart: true } do |form| %>
    <div class="field">
      <%= form.label :body, "Message" %>
      <%= form.text_area :body %>
    </div>
    <div class="field">
      <%= form.label :file, "File" %>
      <%= form.file_field :file %>
    </div>
    <div>
      <%= form.submit "Add Message", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>

<%= link_to 'Back to Tickets', operational_portal_support_tickets_path, class: 'btn btn-secondary' %>


<div id="preview-modal" class="modal" data-controller="modal" data-modal-target="modal">
  <div class="modal-content" data-modal-target="file">
    <span class="close" data-action="click->modal#close">&times;</span>
    <div id="preview-content">
      <%= turbo_frame_tag "preview-frame", data: { action: "turbo:frame-load->modal" } do %>
        <!-- The preview content will be loaded here -->
      <% end %>
    </div>
  </div>
  <div class="spinner-container" data-modal-target="spinner">
    <div class="spinner"></div>
  </div>
</div>
