/ app/views/operational_portal/support_tickets/index.html.erb
.container
  %h1 Support Tickets
  .actions
    = link_to 'New Support Ticket', new_operational_portal_support_ticket_path, class: 'btn btn-primary'
  %table.table
    %thead
      %tr
        %th Ticket Title
        %th Customer Name
        %th Status
        %th Created Date
        %th Actions
    %tbody
      - if @support_tickets.present?
        - @support_tickets.each do |ticket|
          %tr.order-row
            %td= link_to ticket.title, operational_portal_support_ticket_path(ticket)
            %td= ticket.customer.name
            %td= ticket.status
            %td.local-time{"data-time" => "#{ticket.created_at}"}= ticket.created_at
            %td
              = link_to 'Edit', edit_operational_portal_support_ticket_path(ticket)
              = link_to 'Delete', operational_portal_support_ticket_path(ticket), method: :delete, data: { confirm: 'Are you sure?' }
      - else
        %tr
          %td{:colspan => "5"} No Support Tickets found
