.py-5
  %h1.font-semibold.text-xl.mb-4 Edit Profile
  = form_with(model: @user, url: operational_portal_profile_path) do |form|
    - if @user.errors.any?
      = render ErrorCardComponent.new errors: @user.errors.full_messages, label: "Validations"
    .grid.gap-4
      .grid.grid-cols-3.gap-4
        .field
          = form.label :first_name
          = form.text_field :first_name, class: "input-primary", required: true
        .field
          = form.label :last_name
          = form.text_field :last_name, class: "input-primary", required: true
        .field
          = form.label :phone
          = form.telephone_field :phone, class: "input-primary"
      .field
        = form.label :email
        = form.email_field :email, class: "input-primary", required: true
      .grid.grid-cols-2.gap-4
        .field
          = form.label :password
          = form.password_field :password, autocomplete: "new-password", class: "input-primary"
        .field
          = form.label :password_confirmation
          = form.password_field :password_confirmation, autocomplete: "new-password", class: "input-primary"
      .actions.mt-1
        = form.submit "Update Profile", class: "btn-md bg-[color:var(--primary)] text-[color:var(--primary-text)]"
