.py-5
  %h1.font-semibold.text-xl.mb-3 Your Profile
  .bg-white.rounded-lg.p-4.border.border-gray-300.space-y-1
    %p
      %strong Email:
      = @user.email
    %p
      %strong Name:
      = @user.name
    .flex.gap-2
      %strong Role:
      .flex.gap-2.items-center
        = @user.role.humanize
        - if @user.advance?
          .success-tag
            advance

    %p
      %strong Phone:
      = @user.phone || "N/A"
  .actions.mt-5
    = link_to 'Edit Profile', edit_operational_portal_profile_path, class: "btn-md bg-[color:var(--primary)] text-[color:var(--primary-text)]"
