%table
  %thead.border-b-0{class: "bg-gray-50"}
    %tr.uppercase.text-sm
      %th Ticket Title
      %th Status
      %th Created Date
      %th Actions
  %tbody
    - if @support_tickets.present?
      - @support_tickets.each do |ticket|
        %tr
          %td= link_to ticket.title, customer_portal_support_ticket_path(ticket)
          %td= ticket.status.humanize
          %td= ticket.created_at
          %td.flex.gap-1
            = link_to 'View', customer_portal_support_ticket_path(ticket)
            = link_to 'Edit', edit_customer_portal_support_ticket_path(ticket)
    - else
      %tr
        %td{:colspan => "5"} No Support Tickets found
