/ app/views/devise/registrations/new.html.erb
%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .field
    = f.label :name
    %br/
    = f.text_field :name, autofocus: true
  .field
    = f.label :customer_name, 'Customer Name'
    %br/
    = f.text_field :customer_name, placeholder: 'Use your name if you do not have a company'
  .field
    = f.label :customer_phone, 'Customer Phone'
    %br/
    = f.telephone_field :customer_phone
  .field
    = f.label :street, 'Street'
    %br/
    = f.text_field :street
  .field
    = f.label :city, 'City'
    %br/
    = f.text_field :city
  .field
    = f.label :state, 'State'
    %br/
    = f.text_field :state
  .field
    = f.label :postal_code, 'Postal Code'
    %br/
    = f.text_field :postal_code
  .field
    = f.label :discount, 'Discount'
    %br/
    = f.number_field :discount, step: 0.01
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
