<!-- app/views/devise/registrations/new.html.erb -->
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :customer_name, 'Customer Name' %><br />
    <%= f.text_field :customer_name, placeholder: 'Use your name if you do not have a company' %>
  </div>

  <div class="field">
    <%= f.label :customer_phone, 'Customer Phone' %><br />
    <%= f.telephone_field :customer_phone %>
  </div>

  <div class="field">
    <%= f.label :street, 'Street' %><br />
    <%= f.text_field :street %>
  </div>

  <div class="field">
    <%= f.label :city, 'City' %><br />
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :state, 'State' %><br />
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label :postal_code, 'Postal Code' %><br />
    <%= f.text_field :postal_code %>
  </div>

  <div class="field">
    <%= f.label :discount, 'Discount' %><br />
    <%= f.number_field :discount, step: 0.01 %>
  </div>
  
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
