<!-- app/views/customer_portal/orders/new.html.erb -->
<h1>New Order</h1>

<%= form_with(model: @order, local: true, url: customer_portal_orders_path) do |form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.number_field :total %>
  </div>

  <div>
    <%= form.submit Create Order %>
  </div>
<% end %>

<%= link_to 'Back', customer_portal_orders_path %>
