/ app/views/operational_portal/support_tickets/show.html.erb
.py-5.flex.flex-col.gap-5
  .grid.bg-white.rounded.shadow.p-4.gap-2.h-fit
    %h1.text-lg.font-medium Support Ticket Details
    %ul.grid
      %li
        %strong Ticket ID:
        = @support_ticket.id
      %li
        %strong Title:
        = @support_ticket.title
      %li
        %strong Status:
        = @support_ticket.status
      %li
        %strong Created At:
        = @support_ticket.created_at.strftime("%B %d, %Y %H:%M")
  .grid.bg-white.rounded.p-5.shadow
    %h2.font-medium.text-lg Messages
    %ul.divide-y
      - if @support_ticket_messages.any?
        - @support_ticket_messages.each do |support_ticket_message|
          %li.py-3
            %div
              %strong Sender:
              = support_ticket_message.sender_name
            %div
              %strong Sent at:
              = support_ticket_message.created_at.strftime("%B %d, %Y %H:%M")
            %div
              %strong Message:
              = support_ticket_message.body
            - support_ticket_message.files.each do |file|
              %div
                %li{:style => "margin-top: 10px"}
                  %strong File:
                  = file.filename.to_s
                  %div
                    - if file.content_type.start_with?('image')
                      .image-preview
                        = image_tag url_for(file.variant(resize_to_limit: [100, 100])), style: "width: 20vw; cursor: pointer;"
                    - else
                      %li{:style => "margin-bottom: 5px; display: flex; flex-direction: column; align-items: left;"}
                        = link_to "Preview", url_for(file), target: "_blank"
                    = link_to "Download", rails_blob_path(file, disposition: "attachment")
      - else
        %li No messages found.
    %hr.my-2
    - if current_user.role == 'admin' || current_user.role == 'manager'
      = form_with model: [@support_ticket, SupportTicketMessage.new], url: add_message_operational_portal_support_ticket_path(@support_ticket), local: true, html: { class: "grid gap-2", multipart: true } do |form|
        .field
          = form.label :body, "Message"
          = form.text_area :body, required: true, class: "input-primary"
        .field
          = form.label :files, "Files"
          = form.file_field :files, multiple: true
        .mt-2
          = form.submit "Add Message", class: "btn-md bg-[color:var(--primary)] text-[color:var(--primary-text)]"
