<!-- app/views/operational_portal/users/edit.html.erb -->
<div class="container">
  <h1>Edit User</h1>

  <%= form_with(model: @user, url: operational_portal_user_path(@user), method: :patch, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

     <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    
    <div class="field">
      <%= form.label :email %>
      <%= form.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= form.label :phone %>
      <%= form.telephone_field :phone, value: format_phone_number(@user.phone) %>
    </div>

    <div class="field">
      <%= form.label :role %>
      <%= form.select :role, User::ROLES %>
    </div>

    <%= form.label :customer_id %>
    <%= form.select :customer_id, @customers.map { |customer| [customer.name, customer.id] }, prompt: 'Select a customer', id: 'user_customer_id' %>
    <div>
    <ul id="customer-list"></ul>
    </div>

    <%= form.submit "Update User", class: "btn btn-primary" %>
  <% end %>

 <%= form_with(url: search_customers_operational_portal_customers_path, local: true, method: :get, id: 'customer-search-form') do %>
    <%= text_field_tag :query, params[:query], id: 'customer-search-input', placeholder: 'Search Customers' %>
  <% end %>
  
  <ul id="customer-list"></ul>

  <%= link_to 'New Customer', new_operational_portal_customer_path %>
  <%= link_to 'Back', operational_portal_users_path, class: 'btn btn-secondary' %>

  <!-- New Customer Modal -->
  <div id="new-customer-modal" style="display: none;">
    <div style="background-color: #fff; border: 1px solid #ccc; padding: 15px;">
      <h2>Add New Customer</h2>
      <%= form_with(model: Customer.new, url: operational_portal_customers_path, local: true, id: 'new-customer-form') do |form| %>
        <div class="field">
          <%= form.label :name %>
          <%= form.text_field :name %>
        </div>

        <div class="field">
          <%= form.label :phone %>
          <%= form.telephone_field :phone, value: format_phone_number(@user.phone) %>
        </div>

        <div class="field">
          <%= form.label :street %>
          <%= form.text_field :street %>
        </div>

        <div class="field">
          <%= form.label :city %>
          <%= form.text_field :city %>
        </div>

        <div class="field">
          <%= form.label :state %>
          <%= form.text_field :state %>
        </div>

        <div class="field">
          <%= form.label :postal_code %>
          <%= form.text_field :postal_code %>
        </div>

        <div class="field">
          <%= form.label :discount %>
          <%= form.number_field :discount, step: :any %>
        </div>

        <div class="actions">
          <%= form.submit "Save Customer" %>
        </div>
      <% end %>
      <button id="close-modal">Close</button>
    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
  const phoneInput = document.querySelector('input[type="tel"]');

  if (phoneInput) {
    phoneInput.addEventListener("input", formatPhoneNumber);
  }
});

function formatPhoneNumber(event) {
  const input = event.target;
  let value = input.value.replace(/\D/g, '');

  if (value.length > 10) {
    value = value.slice(0, 10);
  }

  const formattedValue = value.replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
  input.value = formattedValue;
}
</script>