/ app/views/operational_portal/users/new.html.erb
.container
  %h1 New User
  = form_with(model: @user, url: operational_portal_users_path, local: true) do |form|
    - if @user.errors.any?
      #error_explanation
        %h2
          = pluralize(@user.errors.count, "error")
          prohibited this user from being saved:
        %ul
          - @user.errors.full_messages.each do |message|
            %li= message
    .field
      = form.label :email
      = form.email_field :email, autofocus: true
    .field
      = form.label :name
      = form.text_field :name
    .field
      = form.label :phone
      = form.telephone_field :phone
    .field
      = form.label :role
      = form.select :role, User::ROLES
    .field
      = form.label :password
      = form.password_field :password, autocomplete: "new-password"
      %em (update for password change)
    .field
      = form.label :password_confirmation
      = form.password_field :password_confirmation, autocomplete: "new-password"
    = form.label :customer_id
    = form.select :customer_id, @customers.map { |customer| [customer.name, customer.id] }, prompt: 'Select a customer', id: 'user_customer_id'
    %div
      %ul#customer-list
    %div
      = form.submit "Save User", class: "btn btn-primary"
      = link_to 'Back', operational_portal_users_path, class: "btn btn-secondary"
  / New Customer Modal
  #new-customer-modal{:style => "display: none;"}
    %div{:style => "background-color: #fff; border: 1px solid #ccc; padding: 15px;"}
      %h2 Add New Customer
      = form_with(model: Customer.new, url: operational_portal_customers_path, local: true, id: 'new-customer-form') do |form|
        .field
          = form.label :name
          = form.text_field :name
        .field
          = form.label :phone
          = form.telephone_field :phone
        .field
          = form.label :street
          = form.text_field :street
        .field
          = form.label :city
          = form.text_field :city
        .field
          = form.label :state
          = form.text_field :state
        .field
          = form.label :postal_code
          = form.text_field :postal_code
        .field
          = form.label :discount
          = form.number_field :discount, step: :any
        .actions
          = form.submit "Save Customer"
      %button#close-modal Close
:javascript
  document.addEventListener("DOMContentLoaded", () => {
    const phoneInput = document.querySelector('input[type="tel"]');
  
    if (phoneInput) {
      phoneInput.addEventListener("input", formatPhoneNumber);
    }
  });
  
  function formatPhoneNumber(event) {
    const input = event.target;
    let value = input.value.replace(/\D/g, '');
  
    if (value.length > 10) {
      value = value.slice(0, 10);
    }
  
    const formattedValue = value.replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
    input.value = formattedValue;
  }
