%body
  %header.w-full.bg-white.sticky.top-0.border-b
    .flex.justify-between.margin-max-screen.py-5
      .flex.items-center.gap-5{class: "text-[17px]"}
        .text-3xl.mr-6.text-primary.font-bold
          Company
        - if user_signed_in?
          .flex.gap-5.items-center.font-medium.mt-1
            = link_to 'Home', root_path
            - if current_user.operational_user?
              = link_to 'Dashboard', operational_root_path
              = link_to 'Orders', operational_portal_orders_path
              = link_to 'Catalog', operational_portal_catalog_path
              = link_to 'Support Tickets', operational_portal_support_tickets_path
              = link_to 'Manage Users', operational_portal_users_path
              = link_to 'Manage Customers', operational_portal_customers_path
              = link_to 'Settings', operational_portal_settings_path
              = link_to 'Profile', operational_portal_profile_path
            - elsif current_user.customer_user?
              = link_to 'Dashboard', customer_root_path
              = link_to 'Orders', customer_portal_orders_path
              = link_to 'Support Tickets', customer_portal_support_tickets_path
              = link_to 'Profile', customer_portal_profile_path
            = link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete }, id: 'logout-link'
        - else
          .flex.items-center.gap-5.font-medium.mt-1
            = link_to 'Login', new_user_session_path
            = link_to 'Sign Up', new_user_registration_path
      .nav-right
        %button.px-4.border.border-gray-500.gap-3.flex.items-center.py-2.rounded-md.text-gray-500
          = icon("fa-solid", "magnifying-glass", class: "text-lg")
          %span{class: "text-[16px]"} Search Products and Parts
