!!!
/ app/views/layouts/application.html.erb
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title YourAppName
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = javascript_importmap_tags
    = favicon_link_tag 'favicon.ico'
    :css
      :root {
        --primary: #214290;
        --primary-text: #fff;
        --secondary: #747474;
        --secondary-text: #fff;
        --tertiary: #589245;
        --tertiary-text: #fff;
      }
  %body.flex.flex-col
    = turbo_frame_tag "nav_warning"
    = render "layouts/navbar"
    %main.flex-1.margin-max-screen.grid
      = yield
    = render "layouts/footer"
