%table
  %thead.bg-gray-50
    %tr.uppercase.text-sm
      %th User Email
      %th Name
      %th Customer Name
      %th Role
  %tbody
    - if @users.present?
      - @users.each do |user|
        %tr
          %td.hover:underline
            .block{data: {controller: "dialog", action: "click->dialog#backdropClose"}}
              = render "show_modal", user: user
              %button.hover:underline{type: "button", data: {action: "dialog#open"}, type: "button"}
                = user.email
          %td= user.name
          %td= user.customer_name
          %td= user.role.humanize
    - else
      %tr
        %td No Users found
