.table
  .table-header-group
    .table-row
      .table-cell User Email
      .table-cell Name
      .table-cell Customer Name
      .table-cell Role
  .table-row-group
    - if @users.present?
      - @users.each do |user|
        .table-row.cursor-pointer{data: {controller: "dialog", action: "click->dialog#backdropClose"}}
          = render "show_modal", user: user
          .table-cell{data: {action: "click->dialog#open"}}
            = user.email
          .table-cell{data: {action: "click->dialog#open"}}
            = user.name
          .table-cell{data: {action: "click->dialog#open"}}
            = user.customer_name
          .table-cell{data: {action: "click->dialog#open"}}
            = user.role.humanize
    - else
      .table-row
        .table-cell No Users found
