<!-- app/views/customer_portal/profiles/edit.html.erb -->
<div class="container">
  <h1>Edit Profile</h1>

  <%= form_with(model: @user, url: customer_portal_profile_path, local: true) do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this profile from being saved:</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :email %>
      <%= form.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :phone %>
      <%= form.telephone_field :phone %>
    </div>

    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password, autocomplete: "new-password" %>
      <% if @user.persisted? %>
        <em>(leave blank if you don't want to change it)</em>
      <% end %>
    </div>

    <div class="field">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= form.submit "Update Profile" %>
    </div>
  <% end %>

  <%= link_to 'Back', customer_portal_profile_path, class: "btn" %>
</div>
