- type = cart.product_id ? "product" : "part"
- total_price = cart.quantity * (cart.product_id ? cart.product.price : cart.part.price)

.flex.gap-4.rounded-lg.border.border-gray-200.bg-white.p-4.shadow-sm.w-full.h-fit{id: "cart-item-#{cart.id}", data: {controller: "cp--orders--item"}}
  - if type == "product" && cart.product.images&.first.present?
    = image_tag cart.product.images.first.variant(:thumb), class: "h-20 w-20 min-w-20 min-h-20 rounded object-cover"
  - elsif type == "part" && cart.part.images&.first.present?
    = image_tag cart.part.images.first.variant(:thumb), class: "h-20 w-20 min-w-20 min-h-20 rounded object-cover"
  - else
    = image_tag "thumbnail.png", class: "h-20 w-20 min-w-20 min-h-20 rounded"
  .space-y-4.md:flex.md:items-center.md:justify-between.md:gap-6.md:space-y-0.w-full
    .flex.items-center.justify-between.md:order-3.md:justify-end
      = form_with(model: cart, url: customer_portal_cart_path(cart)) do |form|
        #quantity-container
          #quantity.small
            = button_tag class: "decrement transition-colors duration-200", type: "button", data: {action: "cp--orders--item#decrement"} do
              = icon("fa-solid", "minus")
            = form.number_field :quantity, min: 1, id: "cart-item-qty-#{cart.id}", class: "number-input transition-colors duration-200", data: {"cp--orders--item-target": "quantity", action: "input->cp--orders--item#quantityInput change->cp--orders--item#quantityChange"}
            = button_tag class: "increment transition-colors duration-200", type: "button", data: {action: "cp--orders--item#increment"} do
              = icon("fa-solid", "plus")
      .text-end.md:order-4.md:w-28
        %p.text-base.font-bold.text-gray-900
          = number_to_currency(total_price, unit: "$", precision: 2)
    .w-full.min-w-0.flex-1.md:space-y-2.md:order-2.md:max-w-md
      .flex.gap-2
        .text-base.font-medium.text-gray-900
          - if type == "product"
            = cart.product.name
          - else
            = cart.part.name
        .block{class: "#{type}-type-tag"}
          = type.humanize
      = button_to customer_portal_cart_path(cart), method: :delete, class: "inline-flex items-center text-sm font-medium text-red-600 px-3 py-1 rounded-lg -ml-3 hover:bg-red-50", form: {data: {turbo_confirm: 'Are you sure to remove this cart?'}} do
        = icon("fa-solid", "trash-can", class: "mr-2")
        Remove
