%header.w-full.bg-white.sticky.top-0.border-b.z-20
  .flex.justify-between.items-center.margin-max-screen.py-5
    .flex.items-center
      .text-3xl.mr-6.font-bold{class: "text-[color:var(--primary)]"}
        Company
      - if user_signed_in?
        %button.bg-white.hover:bg-gray-100.px-5.border.border-gray-300.gap-3.flex.items-center.rounded-lg.text-gray-500{class: "py-2"}
          = icon("fa-solid", "magnifying-glass")
          %span Search Products, Parts, etc..
    - if user_signed_in?
      .flex.gap-3.items-center
        .bg-white.rounded-lg.hover:bg-gray-100.py-2.px-3.cursor-pointer
          = icon("fa-solid", "bell", class: "text-gray-500 text-xl")
        .relative{data: {controller: "dropdown"}}
          %button{type: "button", data: {action: "dropdown#toggle click@window->dropdown#hide"}}
            = image_tag "profile.png", class: "w-9 h-9 rounded-full"
          .hidden.transition.transform.origin-top-right.absolute.right-0{"data-dropdown-target" => "menu", "data-transition-enter-from" => "opacity-0 scale-95", "data-transition-enter-to" => "opacity-100 scale-100", "data-transition-leave-from" => "opacity-100 scale-100", "data-transition-leave-to" => "opacity-0 scale-95"}
            .bg-white.w-52.divide-y.border.rounded-lg.flex.flex-col.shadow-sm
              .flex.flex-col.ga-2.px-4.py-2
                .font-medium= current_user.name
                .text-sm= current_user.email
              = link_to 'My profile', operational_portal_profile_path, class: "px-4 py-2 hover:bg-gray-100"
              = button_to "Logout", destroy_user_session_path, method: :delete, class: "px-4 py-2 hover:bg-gray-100 w-full text-start"
    - else
      .flex.items-center.gap-5
        = link_to 'Login', new_user_session_path, class: "text-lg hover:underline hover:decoration-[color:var(--secondary)] decoration-2 underline-offset-4"
        = link_to 'Sign Up', new_user_registration_path, class: "px-7 py-2.5 btn-md text-[color:var(--primary-text)] bg-[color:var(--primary)]"
  - if user_signed_in?
    = render "layouts/navbar_links"
