!!!
%html.h-full{style: theme(@client)}
  %head
    = render "layouts/head"
  %body
    = render FlashComponent.new
    = render "layouts/operation_navbar"
    %main.flex.ml-64
      = render "layouts/sidebar"
      .h-full.margin-max-screen
        = yield
